import importlib
import pkgutil
from pathlib import Path

import typer

from fastapi_structure.managements.commands.base import Command

command_app = typer.Typer()


def auto_register_commands():
    import fastapi_structure.managements.commands as commands
    for _, mod, _ in pkgutil.iter_modules(commands.__path__):
        importlib.import_module(f"fastapi_structure.managements.commands.{{mod}}")
        for cls in Command.__subclasses__():
            command_class = cls()
            command_app.command(command_class.name)(command_class.execute)


if __name__ == "__main__":
    auto_register_commands()
    command_app()
